<!doctype html>
<html>
<head>
  <title>Hi There! Goddbye..Have a great day!</title>
</head>
<body>
    let's play the game
    <br><br>
    <form action="/madlib">
        <label>Person</label>
        <input type="text" name="person">

      <br><br>
        Choose your color:
        <select name="color">
          <option value="red">Red</option>
          <option value="green">Blue</option>
          <option value="blue">Green</option>
        </select>

      <br><br>
        Choose a noun:

        <input type="checkbox" name="noun" value="ball">
        <label>Ball</label>
      
        <input type="checkbox" name="noun" value="potato">
        <label>Potato</label>
      
        <input type="checkbox" name="noun" value="disc">
        <label>Disc</label>
    
      <br><br>

        <label>Type in an adjective:</label>
        <textarea name="adjective"></textarea>

        <br><br>

      
        <input type="submit">
    </form>

</body>
</html>